{% extends "base.html" %}


{% block content %}

  <h1>post detail</h1>

  <br>
  
  <p> 글 번호 : [ {{ post.id }} ] </p>
  <p> 제목 : {{ post.title }} </p>

  <p> 작성자 : {{ post.author.username }} </p>

  <p> 내용 : {{ post.content }} </p>

  <p> 작성일 : {{ post.created_at }} </p>
  <br>
  
  
  
  <br>
  
  <a href = "{% url 'post:post_update' post.id %}">
    <button>수정</button> </a>

  <form action="{% url 'post:post_delete' post.id %}", method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"> 삭제 </button>
  </form>

  <a href = "{% url 'post:post_list' %}">
    <button> 뒤로가기 </button> </a>

{% endblock content %}
